server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-route
          uri: lb://opportunity-service
          predicates:
            - Path=/api/v1/auth/**
        - id: opportunity-route
          uri: lb://opportunity-service
          predicates:
            - Path=/api/opportunities/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-server:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: api-gateway

jwt:
  secret: change-me-please-256-bit-secret-change-me-please

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
